{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": 2,
    "global-require": 0,
    "import/prefer-default-export": 0
  }
}